~*
./**/~*
.~*
./**/.~*
.vscode/
./**/.vscode/
__pycache__/
./**/__pycache__/
*.pyc
./**/*.pyc
*.html
./output/**/*.tex
*.pdf
*.odt
*.ott
*.ods
*.odp
*.dot
*.doc
*.docx
*.wbk
*.docm
*.dotx
*.dotm
*.docb
*.xls
*.xlt
*.xlm
*.xlsx
*.xlsm
*.xltx
*.xltm
*.xlsb
*.xla
*.xlam
*.xll
*.xlw
*.ppt
*.pot
*.pps
*.pptx
*.pptm
*.potx
*.potm
*.ppam
*.ppsx
*.ppsm
*.sldx
*.sldm
./**/*.html
./**/*.pdf
./**/*.odt
./**/*.ott
./**/*.ods
./**/*.odp
./**/*.dot
./**/*.doc
./**/*.docx
./**/*.wbk
./**/*.docm
./**/*.dotx
./**/*.dotm
./**/*.docb
./**/*.xls
./**/*.xlt
./**/*.xlm
./**/*.xlsx
./**/*.xlsm
./**/*.xltx
./**/*.xltm
./**/*.xlsb
./**/*.xla
./**/*.xlam
./**/*.xll
./**/*.xlw
./**/*.ppt
./**/*.pot
./**/*.pps
./**/*.pptx
./**/*.pptm
./**/*.potx
./**/*.potm
./**/*.ppam
./**/*.ppsx
./**/*.ppsm
./**/*.sldx
./**/*.sldm